<!DOCTYPE HTML>
<html>

<head>
    <title>基金-路漫漫其修远兮，吾将上下而求索</title>
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <!--//Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="keywords" content="Scott Jeremy" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.metisMenu.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/pace.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>

</head>

<body>
    <!-- header -->
    <div class="col-md-2 sidebar">
        <div class="sidebar_top">
            <h1><a href="/">Singer<span> Stone</span></a></h1>
        </div>
        <div class="top-navigation">
            <div class="t-menu">菜单</div>

            <div class="t-img">
                <img src="../images/lines.png" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <%- include('common/navigation') %>
    </div>

    <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div>
            <div class="col-sm-12">
                <nav>
                    <form role="form" style="margin-top: 40px;">
                        <input class='form-control' type='text' id='code' placeholder='输入基金代码' />
                        <input class='form-control' type='password' id='password' placeholder='输入操作密码' />
                        <input type='button' class='btn btn-warning' id='addFocus' value='添加关注' />
                    </form>
                    <ul class='list-group' id="chart_list" style="margin-top: 60px;">
                    </ul>
                </nav>
            </div>
            <div class="message"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <script type="text/javascript">
        function getOptions(datas) {
            var x = new Array();
            var y = new Array();
            for (var i = 0; i < datas.length; i++) {
                x[i] = datas[i].time;
                var yString = datas[i].ratio;
                var yFloat = 0.0;
                if (yString == undefined || yString == '') {
                    yFloat = 0.0;
                } else {
                    yFloat = parseFloat(yString.split('%')[0]);
                }
                //var yFloat = parseFloat(yString.split(' ')[1].split('%')[0]);
                y[i] = yFloat;
            }
            // 图表配置
            var options = {
                chart: {
                    type: 'column'                          //指定图表的类型，默认是折线图（line）
                },
                title: {
                    text: datas[0].name + "增长趋势图"                 // 标题
                },
                xAxis: {
                    categories: x   // x 轴分类
                },
                yAxis: {
                    title: {
                        text: '增长率'                // y 轴标题
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                series: [{
                    color: '#ff0000',
                    negativeColor: '#00ff00',                          // 数据列
                    name: datas[0].name,                        // 数据列名
                    data: y                     // 数据
                }]
            };
            return options;
        }

        var datas = JSON.parse(JSON.stringify(<% -allResult %>));

        // 图表初始化函数
        for (i = 0; i < datas.length; i++) {
            var options = getOptions(datas[i]);
            $("#chart_list").append("<li id='chart" + i + "' style='min-width:400px;height:400px'></li>");
            $("#chart_list").append("<input class='form-control' type='password' id='password" + i + "' placeholder='输入操作密码'></input>")
            $("#chart_list").append("<input type='button'  class='btn btn-warning' id='button" + i + "' value='不再关注'></input></br></br>")
            $("#button" + i).on("click", { code: datas[i][0].code, index: i }, function (event) {
                //alert(event.data.index)
                var psd = $("#password" + event.data.index)
                //alert(psd.val())
                //console.log("code:" + event.data.code+" password:"+psd)
                // $.post("/doDeleteJijin", {"code":"123"}, function (result) {
                //     alert(result.result)
                // });
                $.get("/doDeleteJijin?code=" + event.data.code + "&password=" + psd.val(), function (result) {
                    if (result.result == 0) {
                        alert('删除成功')
                        location.reload()
                    } else {
                        alert('删除失败')
                    }
                });
            });
            Highcharts.chart('chart' + i, options);
        }
        $(document).ready(function () {
            $("#addFocus").click(function () {
                var code = $("#code").val();
                var password = $("#password").val();
                $.post('/doAddJijin', { code: code, password: password }, function (result) {
                    if (result.result == 0) {
                        alert('添加关注成功')
                    } else {
                        alert('添加关注失败')
                    }
                }, 'json')

            });
        });
    </script>
</body>

</html>